<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HandsOnWorkBiblioteca.Properties.Settings.FicharioConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Databases\Fichario.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HandsOnWorkBiblioteca.Properties.Settings.UniBankConnectionString"
            connectionString="Data Source=LAPTOP-J8CT7NCF;Initial Catalog=UniBank;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>